@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper-content">
    <div class="row">
        <div class="col-md-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-users fa-4x"></i>
                    </div>
                    <div class="col-xs-10 text-right">
                        <span>Clientes</span>
                        <h2 class="font-bold">@ViewBag.clientes</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-cubes fa-4x"></i>
                    </div>
                    <div class="col-xs-10 text-right">
                        <span>Servicios</span>
                        <h2 class="font-bold">@ViewBag.servicios</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-motorcycle fa-4x"></i>
                    </div>
                    <div class="col-xs-10 text-right">
                        <span>Repartidores</span>
                        <h2 class="font-bold">@ViewBag.repartidores</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-users fa-4x"></i>
                    </div>
                    <div class="col-xs-10 text-right">
                        <span>Administradores</span>
                        <h2 class="font-bold">@ViewBag.administradores</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="widget style1 red-bg">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-files-o fa-4x"></i>
                    </div>
                    <div class="col-xs-10 text-right">
                        <span>Mandados en espera</span>
                        <h2 class="font-bold">@ViewBag.mandados_espera</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-files-o fa-4x"></i>
                    </div>
                    <div class="col-xs-10 text-right">
                        <span>Mandados asignados</span>
                        <h2 class="font-bold">@ViewBag.mandados_asignado</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-files-o fa-4x"></i>
                    </div>
                    <div class="col-xs-10 text-right">
                        <span>Mandados en proceso</span>
                        <h2 class="font-bold">@ViewBag.mandados_proceso</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-files-o fa-4x"></i>
                    </div>
                    <div class="col-xs-10 text-right">
                        <span>Mandados entregados</span>
                        <h2 class="font-bold">@ViewBag.mandados_entregado</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-files-o fa-4x"></i>
                    </div>
                    <div class="col-xs-10 text-right">
                        <span>Mandados de hoy</span>
                        <h2 class="font-bold">@ViewBag.mandados_hoy</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-files-o fa-4x"></i>
                    </div>
                    <div class="col-xs-10 text-right">
                        <span>Mandados de la semana</span>
                        <h2 class="font-bold">@ViewBag.mandados_semana</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-files-o fa-4x"></i>
                    </div>
                    <div class="col-xs-10 text-right">
                        <span>Mandados del mes</span>
                        <h2 class="font-bold">@ViewBag.mandados_mes</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-files-o fa-4x"></i>
                    </div>
                    <div class="col-xs-10 text-right">
                        <span>Mandados del año</span>
                        <h2 class="font-bold">@ViewBag.mandados_anio</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Mandados por Mes del @DateTime.Now.Year</h5>
            </div>
            <div class="ibox-content">
                <div id="mandados_grafico"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
var meses = @Html.Raw(Json.Encode(@ViewBag.meses));
var mandados = @Html.Raw(Json.Encode(@ViewBag.mandados));
$(document).ready(function () {
        c3.generate({
            bindto: '#mandados_grafico',
        data: {
                x: 'x',
            json: {
                x: meses,
                Mandados: mandados

            },
            colors: {
                Mandados: '#40D284',
            }
            },
        legend: {
                show: false
        },
        axis: {
                x: {
                    type: 'category'
                }
            }
        });
    });
</script>