@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tabs-container">
    <div class="tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#mapa">Mapa</a></li>
            <li><a data-toggle="tab" href="#espera">En Espera</a></li>
            <li><a data-toggle="tab" href="#asignado">Asignado</a></li>
            <li><a data-toggle="tab" href="#proceso">En Proceso</a></li>
            <li><a data-toggle="tab" href="#entregado">Entregado</a></li>
        </ul>
        <div class="tab-content">
            <div id="mapa" class="tab-pane active">
                <div class="panel-body">
                    <div id="mapa_mandados" style="width: 100%; height: 500px"></div>
                </div>
            </div>
            <div id="espera" class="tab-pane">
                <div class="panel-body">
                    <div class="wrapper-content">
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover tabla-buscador">
                                    <thead>
                                        <tr>
                                            <th>
                                                Cliente
                                            </th>
                                            <th>
                                                Repartidor
                                            </th>
                                            <th>
                                                Total
                                            </th>
                                            <th>
                                                Fecha
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.mandados_espera)
                                        {
                                            <tr>
                                                <td>
                                                    @item.cliente
                                                </td>
                                                <td>
                                                    @item.repartidor
                                                </td>
                                                <td>
                                                    @item.total
                                                </td>
                                                <td>
                                                    @item.fecha
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="asignado" class="tab-pane">
                <div class="panel-body">
                    <div class="wrapper-content">
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover tabla-buscador">
                                    <thead>
                                        <tr>
                                            <th>
                                                Cliente
                                            </th>
                                            <th>
                                                Repartidor
                                            </th>
                                            <th>
                                                Total
                                            </th>
                                            <th>
                                                Fecha
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.mandados_asignado)
                                        {
                                            <tr>
                                                <td>
                                                    @item.cliente
                                                </td>
                                                <td>
                                                    @item.repartidor
                                                </td>
                                                <td>
                                                    @item.total
                                                </td>
                                                <td>
                                                    @item.fecha
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="proceso" class="tab-pane">
                <div class="panel-body">
                    <div class="wrapper-content">
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover tabla-buscador">
                                    <thead>
                                        <tr>
                                            <th>
                                                Cliente
                                            </th>
                                            <th>
                                                Repartidor
                                            </th>
                                            <th>
                                                Total
                                            </th>
                                            <th>
                                                Fecha
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.mandados_proceso)
                                        {
                                            <tr>
                                                <td>
                                                    @item.cliente
                                                </td>
                                                <td>
                                                    @item.repartidor
                                                </td>
                                                <td>
                                                    @item.total
                                                </td>
                                                <td>
                                                    @item.fecha
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="entregado" class="tab-pane">
                <div class="panel-body">
                    <div class="wrapper-content">
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover tabla-buscador">
                                    <thead>
                                        <tr>
                                            <th>
                                                Cliente
                                            </th>
                                            <th>
                                                Repartidor
                                            </th>
                                            <th>
                                                Total
                                            </th>
                                            <th>
                                                Fecha
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.mandados_entregado)
                                        {
                                            <tr>
                                                <td>
                                                    @item.cliente
                                                </td>
                                                <td>
                                                    @item.repartidor
                                                </td>
                                                <td>
                                                    @item.total
                                                </td>
                                                <td>
                                                    @item.fecha
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8nWW1F1b2-oI5KXN1ito-gXtABMMthhA"></script>
<script>
    var mandaderos = @Html.Raw(Json.Encode(@ViewBag.mandaderos));
    var rutas = @Html.Raw(Json.Encode(@ViewBag.rutas));
    window.onload = function () {
        var mapOptions = {
            center: 'auto',
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var infoWindow = new google.maps.InfoWindow();
        var map = new google.maps.Map(document.getElementById("mapa_mandados"), mapOptions);
        //Mandaderos
        for (i = 0; i < mandaderos.length; i++) {
            var data = mandaderos[i];
            var myLatlng = new google.maps.LatLng(data.latitud, data.longitud);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });
            (function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    infoWindow.setContent(data.nombre);
                    infoWindow.open(map, marker);
                });
            })(marker, data);
        }
        //Rutas
        var bounds = new google.maps.LatLngBounds();
        var colores = ["green", "blue", "yellow", "rose","black"];
        for (i = 0; i < rutas.length; i++) {
            var puntos = rutas[i].puntos;
            for (j = 0; j < puntos.length; j++) {
                var data = puntos[j];
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(data.latitud, data.longitud),
                    map: map
                });
                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.comentarios);
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
                if ((j + 1) < puntos.length) {
                    var destino = puntos[j + 1];
                    var startPt = new google.maps.LatLng(data.latitud, data.longitud);
                    var endPt = new google.maps.LatLng(destino.latitud, destino.longitud);
                    calcRoute(startPt, endPt,i);
                    bounds.extend(startPt);
                    bounds.extend(endPt);
                }
            }
        }
        map.fitBounds(bounds);
        function calcRoute(source, destination,num) {
            var polyline = new google.maps.Polyline({
                path: [source, destination],
                strokeColor: colores[num % colores.length],
                strokeWeight: 2,
                strokeOpacity: 1
            });
            polyline.setMap(map);
        }
    }
    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        });
    });
</script>