@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tabs-container">
    <div class="tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#espera">En Espera</a></li>
            <li><a data-toggle="tab" href="#asignado">Asignado</a></li>
            <li><a data-toggle="tab" href="#proceso">En Proceso</a></li>
            <li><a data-toggle="tab" href="#entregado">Entregado</a></li>
            <li><a data-toggle="tab" href="#mapa">Mapa</a></li>
        </ul>
        <div class="tab-content">
            <div id="espera" class="tab-pane active">
                <div class="panel-body">
                    <div class="wrapper-content">
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover tabla-buscador">
                                    <thead>
                                        <tr>
                                            <th>
                                                Cliente
                                            </th>
                                            <th>
                                                Repartidor
                                            </th>
                                            <th>
                                                Total
                                            </th>
                                            <th>
                                                Fecha
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.mandados_espera)
                                        {
                                            <tr>
                                                <td>
                                                    @item.cliente
                                                </td>
                                                <td>
                                                    @item.repartidor
                                                </td>
                                                <td>
                                                    @item.total
                                                </td>
                                                <td>
                                                    @item.fecha
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="asignado" class="tab-pane">
                <div class="panel-body">
                    <div class="wrapper-content">
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover tabla-buscador">
                                    <thead>
                                        <tr>
                                            <th>
                                                Cliente
                                            </th>
                                            <th>
                                                Repartidor
                                            </th>
                                            <th>
                                                Total
                                            </th>
                                            <th>
                                                Fecha
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.mandados_asignado)
                                        {
                                            <tr>
                                                <td>
                                                    @item.cliente
                                                </td>
                                                <td>
                                                    @item.repartidor
                                                </td>
                                                <td>
                                                    @item.total
                                                </td>
                                                <td>
                                                    @item.fecha
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="proceso" class="tab-pane">
                <div class="panel-body">
                    <div class="wrapper-content">
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover tabla-buscador">
                                    <thead>
                                        <tr>
                                            <th>
                                                Cliente
                                            </th>
                                            <th>
                                                Repartidor
                                            </th>
                                            <th>
                                                Total
                                            </th>
                                            <th>
                                                Fecha
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.mandados_proceso)
                                        {
                                            <tr>
                                                <td>
                                                    @item.cliente
                                                </td>
                                                <td>
                                                    @item.repartidor
                                                </td>
                                                <td>
                                                    @item.total
                                                </td>
                                                <td>
                                                    @item.fecha
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="entregado" class="tab-pane">
                <div class="panel-body">
                    <div class="wrapper-content">
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover tabla-buscador">
                                    <thead>
                                        <tr>
                                            <th>
                                                Cliente
                                            </th>
                                            <th>
                                                Repartidor
                                            </th>
                                            <th>
                                                Total
                                            </th>
                                            <th>
                                                Fecha
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.mandados_entregado)
                                        {
                                            <tr>
                                                <td>
                                                    @item.cliente
                                                </td>
                                                <td>
                                                    @item.repartidor
                                                </td>
                                                <td>
                                                    @item.total
                                                </td>
                                                <td>
                                                    @item.fecha
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mapa" class="tab-pane">
                <div class="panel-body">
                    <div id="map_canvas" style="height: 550px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8nWW1F1b2-oI5KXN1ito-gXtABMMthhA&callback=initMap" type="text/javascript"></script>

<style>
    #map_canvas img {
        max-width: none;
    }
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>

<script type="text/javascript">
    // Where all the fun happens
    function initMap() {

        // Google has tweaked their interface somewhat - this tells the api to use that new UI
        google.maps.visualRefresh = true;
        var Tunisie = new google.maps.LatLng(36.81881, 10.16596);

        // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
        var mapOptions = {
            zoom: 8,
            center: Tunisie,
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };

        // This makes the div with id "map_canvas" a google map
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        // a sample list of JSON encoded data of places to visit in Tunisia
        // you can either make up a JSON list server side, or call it from a controller using JSONResult
        var data = [
                  { "Id": 1, "PlaceName": "Zaghouan", "GeoLong": "36.401081", "GeoLat": "10.16596" },
                  { "Id": 2, "PlaceName": "Hammamet ", "GeoLong": "36.4", "GeoLat": "10.616667" },
                  { "Id": 3, "PlaceName": "Sousse", "GeoLong": "35.8329809", "GeoLat": "10.63875" },
                  { "Id": 4, "PlaceName": "Sfax", "GeoLong": "34.745159", "GeoLat": "10.7613" }
               ];

        // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins
        $.each(data, function (i, item) {
            var marker = new google.maps.Marker({
                'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
                'map': map,
                'title': item.PlaceName
            });

            // Make the marker-pin blue!
            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')

            // put in some information about each json object - in this case, the opening hours.
            var infowindow = new google.maps.InfoWindow({
                content: "<div class='infoDiv'><h2>" + item.PlaceName + "</div></div>"
            });

            // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });

        })
    }
</script>
<script>
$(document).ready(function () {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
    });
});
</script>