<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boss Mandados</title>
    <link href="@Url.Content("~/Styles/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/font-awesome.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/animate.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/styles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/datatables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/icheck.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/c3.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/jasny.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/codemirror.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/bootstrap_date.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/d3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/c3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jasny.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/codemirror.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/xml.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/bootstrap_date.js")"></script>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">@Session["nombre_usuario"].ToString()</strong>
                                    </span> <span class="text-muted text-xs block">@Session["rolnombre_usuario"].ToString()</span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">Boss</div>
                    </li>
                    @{var permisos = (List<int>) Session["permisos"];}
                    @if (permisos.Contains(1))
                    {
                        <li>
                            <a href="@Url.Action("Index", "Panel")"><i class="fa fa-th-large"></i> <span class="nav-label">Panel</span></a>
                        </li>
                    }
                    @if (permisos.Contains(2))
                    {
                    <li>
                        <a href="@Url.Action("Index","Clientes")"><i class="fa fa-users"></i> <span class="nav-label">Clientes</span></a>
                    </li>
                    }
                    @if (permisos.Contains(3))
                    {
                    <li>
                        <a href="@Url.Action("Index","Mandados")"><i class="fa fa-files-o"></i> <span class="nav-label">Mandados</span></a>
                    </li>
                    }
                    @if (permisos.Contains(4))
                    {
                    <li>
                        <a href="@Url.Action("Index","Servicios")"><i class="fa fa-cubes"></i> <span class="nav-label">Servicios</span></a>
                    </li>
                    }
                    @if (permisos.Contains(5))
                    {
                    <li>
                        <a href="@Url.Action("Index","Promociones")"><i class="fa fa-tags"></i> <span class="nav-label">Promociones</span></a>
                    </li>
                    }
                    @if (permisos.Contains(6))
                    {
                    <li>
                        <a href="@Url.Action("Index","Reportes")"><i class="fa fa-bars"></i> <span class="nav-label">Reportes</span></a>
                    </li>
                    }
                    @if (permisos.Contains(7))
                    {
                    <li>
                        <a href="@Url.Action("Index","Repartidores")"><i class="fa fa-motorcycle"></i> <span class="nav-label">Repartidores</span></a>
                    </li>
                    }
                    @if (permisos.Contains(8))
                    {
                        <li>
                            <a href="@Url.Action("Index", "Chat")"><i class="fa fa-comments-o"></i> <span class="nav-label">Chat</span></a>
                        </li>
                    }
                    @if (permisos.Contains(9))
                    {
                    <li>
                        <a href="@Url.Action("Index", "Administradores")"><i class="fa fa-users"></i> <span class="nav-label">Administradores</span></a>
                    </li>
                    }
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li><a href="@Url.Action("Cerrar_Sesion","Login")"><i class="fa fa-sign-out"></i> Cerrar Sesión</a></li>
                    </ul>
                </nav>
            </div>
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript" src="@Url.Content("/Scripts/metismenu.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/slimscroll.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/inspinia.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/datatables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/icheck.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/bossmandados.js")"></script>
</body>
</html>
