@model Boss_Mandados.Models.manboss_usuarios
@{
    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boss Mandados</title>
    <link href="@Url.Content("~/Styles/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/animate.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/styles.css")" rel="stylesheet" type="text/css" />
</head>
<body class="login">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <img src="~/Images/logo.png" alt=" " class="img-responsive" />
            </div>
            @if (!string.IsNullOrEmpty(ViewBag.Message)){<div id="notificacion"><span id="error">@ViewBag.Message</span></div>}
            @using (Html.BeginForm("Iniciar_Sesion", "Login", FormMethod.Post, new { @class = "m-t" }))
            {
                <div class="form-group">
                    <input type="text" class="form-control" name="usuario" placeholder="Usuario" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="contrasenia" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Entrar</button>
            }
        </div>
    </div>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/bootstrap.js")"></script>
</body>
</html>