@model Boss_Mandados.Models.manboss_usuarios
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Editar Administrador</h2>
    </div>
</div>
<div class="wrapper-content">
    <div class="ibox-content">
        @using (Html.BeginForm("Edit", "Administradores", new { id = @Model.id }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10"><input type="text" name="nombre" class="form-control" required value="@Model.nombre"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Correo</label>
                <div class="col-sm-10"><input type="email" name="correo" class="form-control" pattern="[a-zA-Z0-9.-_]{1,}@("@")[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required value="@Model.correo"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Usuario</label>
                <div class="col-sm-10"><input type="text" name="usuario" class="form-control" readonly value="@Model.usuario"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Contraseña</label>
                <div class="col-sm-10"><input type="password" name="contrasenia" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Permisos</label>
                <div class="col-sm-10">
                    @foreach (var item in ViewBag.menus)
                    {
                        if(ViewBag.permisos.Contains(item.id)){
                            <div class="i-checks"><label><input type="checkbox" name="permisos[]" checked="" value="@item.id"><i></i> @item.nombre</label></div>
                        }else{
                            <div class="i-checks"><label><input type="checkbox" name="permisos[]" value="@item.id"><i></i> @item.nombre</label></div>
                        }
                    }
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </div>
        }
    </div>
</div>
<p class="btn btn-w-m btn-primary">@Html.ActionLink("Volver", "Index")</p>